@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Roboto:wght@300;400;500&display=swap');

body {
    background-color: #FFFAFD;
}

.container {
    width: 100%;
    margin-top: 100px;

}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;

}

.content-wrapper {
    width: 600px;
    border: 2px solid #000;
    border-radius: 4px;
    padding: 30px;
    margin: 0 auto;
    background-color: #EECBF1;
}

.header {
    
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}



p {
    font-size: 16px;
    font-weight: 400;
    color: #4F55A1;
    font-family: 'Montserrat';
    margin-top: 20px;
    text-align: center;
}

button {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 400;
    padding: 8px 14px;
    background-color: #B8ACE7;
    margin-right: 10px;
    border: 1px solid black;
    cursor: pointer;

}

button:hover {
    background-color: #9684DC;
}

button.active:hover {
    background-color: #3E437F;
}

button.active {
    background-color: #4F55A1;
}

.content {
    display: none;

}

.content.active {
    display: block;
}